<!DOCTYPE html>
<html>
    <head>
        <title>BMail • {% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel ="stylesheet" type="text/css" href="/assets/final.css">
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <link rel="shortcut icon" href="../assets/favicon.ico">
    </head>
    <body id="alles" background>

        <nav class="navbar navbar-default" id="navilein">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img id="minilogo" alt="Brand" src="/assets/bmail.gif">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/Nachrichten">Nachrichten</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Eingang">Eingang</a></li>
                                <li><a href="/Ausgang">Ausgang</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/Nachricht schreiben">Nachricht schreiben</a></li>
                            </ul>
                        </li>
                        <li><a href="/Wetter">Wetter</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if logged_in %}
                            <li class="navbar-text">Hallo, {{ user.nickname() }}!</li>
                            <a class="btn btn-default navbar-btn" href="{{ logout_url }}" role="button">Abmelden</a>
                        {% else %}
                            <li class="navbar-text">Bitte melde dich an:</li>
                            <a class="btn btn-default navbar-btn" href="{{ login_url }}" role="button">Anmelden</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block page_content %}
        {% endblock page_content %}
    </body>
</html>